<div class="menu2">
        <a href="/empl_account"  id="input_Empl"  class ="aNotChoosed_menu2" >Войти</a>
        <a href="/empl_anketa"    id="anketa_Empl" class ="aNotChoosed_menu2  disabled" > Анкета </a> |
        <a href="/empl_vacancy"    id="createVac_Empl" class ="aNotChoosed_menu2  disabled" > Создать вакансию</a> |
        <a href="/"    id="delVac_Empl"class ="aNotChoosed_menu2  disabled" > Мои вакансии</a> |
        <a href="/"    id="loolCand_Empl"class ="aNotChoosed_menu2  disabled"  >Просмотр кандидатов</a> 
</div>