 <div class="menu2">
    <a href="/" class="aNotChoosed_menu2 ">Войти</a>
    <a href="/" class="aNotChoosed_menu2  disabled">Просмотр вакансий</a> |
    <a href="/" class="aNotChoosed_menu2  disabled">Просмотр соискателей</a> |
    <a href="/" class="aNotChoosed_menu2  disabled">Текущие запросы</a> |
    <a href="/" class="aNotChoosed_menu2  disabled">Редактирование </a> 
</div>
