<style>
    .header4_div1 {  display: grid;  grid-template-columns: 35px 350px auto 60px 200px 40px;
                                     grid-template-rows: 35px;  line-height: 25px;
                                     font: 400 1.2rem Calibri; color: #345;   background-color: #eee;
                                     border: 1px solid #ddd;  }
    .menuModer {        line-height: 25px;        font: 400 1.1rem Calibri;   background-color: #eee;        padding-left: 90px;        border-color: red
                          }
    .Choosed {  text-decoration: underline; font-size: 1.08em;  color: purple;    }
    a { text-decoration: none;       color: darkgray;    }
    a .disabled {  pointer-events: none;   cursor: pointer;   color: #aaa;
        }     /* неактивная серая ссылка, курсор - стрелка */
</style>
<div class="header4_div1">
    <div>   <img src="fav_48.ico" width="35" height="35"> </div>
    <div style="text-align:center">  Личный кабинет модератора    </div>
    <div>  </div>
    <div>  Логин  </div>
    <div id="header4_log"> {{LOGIN}} </div>
</div>
<div class="menuModer">
    <a href="/" id="home_Moder"> Главная </a> |
    <a href="" id="edit_doc_Moder">Редактировать документы</a>|
    <a href="" id="edit_vis_info_Moder">Редактировать информацию для посетителей</a>|
    <a href="" id="look_resume_Moder">  Просмотр резюме  </a> |
    <a href="" id="send_msg_Moder">  Отправить сообщение </a> |
</div>

<script>
   function  f_menuModer_1(id)
   {
   }
    const MENU = document.querySelector('.menuModer');
    MENU.addEventListener('mouseover', (event) => { event.target.style.color = "purple";   });
    MENU.addEventListener('mouseout', (event) => { event.target.style.color = "darkgray"; });
    MENU.addEventListener('click', (event) => { f_menuModer_1(event.target.id);   });
    </script>

