<style>
.v_info_div1 {  color: #227;      font:400 18px calibri; color:navy;height:85vh;    
                            position:fixed; top:0;
}
.v_info_h3 {font:400 1.3rem calibri; text-align:center;  }
</style>
<div class="v_info_div1" >
        <h3 class="v_info_h3"> Информация для посетителей</h3>
    <hr/>
                 Раздел редактируется модератором
</div>
