<span class="menu2_Mod"> {{> menuMod}}</span>
<h4>{{title}}</h4>


<script>
    var obj1 = document.getElementById("menuMain_3"); obj1.classList.remove("aNotUsing", "disabled"); obj1.classList.add("aUsing");
    var obj = document.getElementById("menuMain_1"); obj.classList.remove("aUsing"); obj.classList.add("aNotUsing", "disabled");
    obj = document.getElementById("menuMain_2"); obj.classList.remove("aUsing"); obj.classList.add("aNotUsing", "disabled");
</script>

