<style>
footer {  position: fixed;  height:4vh;   left: 0;    bottom: 0; /* Фиксированное положение,  Левый нижний угол */
                 background: #ccc;    color: #227e;    width: 100%;  padding-left: 3vw;  padding-top:3px;
}
</style>
<footer> <div style="vertical-align:top">Career  - Copyright © 2024. Контакты: тел. для справок:  +7 (XXX) XXX-XX-XX </div>
</footer>
