
<style>
    .topTitle_1 {   font: 600 21px Calibri;        color: #559;    }
    .topTitle_2 {   font: 400 18px Calibri;        color: #559;
    }
    .topTitle_2_ {
        font: 400 18px Calibri;
    }
    .header1_div1 {   margin-left: 1%;        display: grid;   height:60px;  
                   grid-template-columns: 80px auto;   background-color:white;          border: 1px solid #ddd;    
                }
</style>
<div class="header1_div1">
    <div>   <img src="fav.png" width="60" height="60"> </div>
    <div style="line-height: 25px;">
        <span class="topTitle_1">  Морской Государственный университет  </span><br>
        <span class="topTitle_2">имени адмирала Невельского Г.И.         </span>
    </div>
</div>
<div id="menu" style="width:100%">    {{> menuMain}}    </div>


